{% extends 'base.html.twig' %}

{% block title %}SnowTricks-Accueil{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-right " id="home-top">
        <div class="container " id="jumbo-container">
            <h1>SnowTricks</h1>
            <p class="home-lead">L'art de glisser entre ciel et neige.</p>
        </div>
        <a href="#trick-list" id="arrow-down"><i class="fas fa-arrow-down" ></i></a>
    </div>

    <div class="row row-cols-1 row-cols-md-5 justify-content-left ml-1 mr-1" id="trick-list">
        <div class="col mb-4">
            <div class="card">
                <a href="{{ path('app_homepage') }}">
                    <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <a href="{{ path('app_homepage') }}">
                    <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body row col-12">
                    <h5 class="card-title">Card title</h5>
                    <div class="justify-content-end col-8 text-right">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <a href="index.html.twig"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#home-top" id="arrow-up"><i class="fas fa-arrow-up"></i></a>
{% endblock %}
