{% extends 'base.html.twig' %}

{% block title %}SnowTricks-Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success container mt-3">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endfor %}
    <div class="jumbotron jumbotron-fluid text-right " id="home-top">
        <div class="container " id="jumbo-container">
            <h1>SnowTricks</h1>
            <p class="home-lead">L'art de glisser entre ciel et neige.</p>
        </div>
        <a href="#trick-list" id="arrow-down"><i class="fas fa-arrow-down" ></i></a>
    </div>


    <div class="row row-cols-1 row-cols-md-5 justify-content-left ml-1 mr-1" id="trick-list">
        {% for trick in tricks %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{{ path('app_show', {id: trick.id}) }}">
                        {% if trick.findFirst is not null %}
                            <img src="{{ asset('images/' ~ trick.findFirst) }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{{ asset('images/trick1.jpg') }}" class="card-img-top" alt="...">
                        {% endif %}
                    </a>
                    <div class="card-body row col-12">
                        <h5 class="card-title col-6">{{ trick.name }}</h5>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="justify-content-end col-6 text-right">
                                <a class="pr-3" href="{{ path('admin_tricks_edit', {id: trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="{{ "#delete" ~ trick.id }}"><i class="far fa-trash-alt"></i></button>

                                <div class="modal fade" id="{{ "delete" ~ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content ">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger" id="exampleModalLabel">Supprimer figure: {{ trick.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body justify-content-start text-left">
                                                ⚠ Voulez vous vraiment supprimer cette figure?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>

                                                <button type="button" class="btn btn-danger"><a class="del_button" href="{{ path('admin_tricks_delete', {id: trick.id}) }}">Supprimer</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#home-top" id="arrow-up"><i class="fas fa-arrow-up"></i></a>
{% endblock %}
