{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center mt-5">

        <div class="row row-cols-1 row-cols-md-12">

            <div class="col mb-4">
                <div class="card">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="justify-content-end text-right mr-4 mb-2 mt-2">
                            <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"><i class="far fa-trash-alt"></i></button>

                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content ">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="exampleModalLabel">Supprimer figure: {{ trick.name }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body justify-content-start text-left">
                                            ⚠ Voulez vous vraiment supprimer cette figure?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-danger"><a class="del_button" href="{{ path('admin_tricks_delete', {id: trick.id}) }}">Supprimer</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if trick.findFirst is not null %}
                        <img src="{{ asset('images/' ~ trick.findFirst) }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ asset('images/trick1.jpg') }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body ">

                        <h3 class="card-title">{{ trick.name }}</h3>
                        <div class="row justify-content-start" >
                            {% if trick.images is not null %}
                                {% for image in trick.images %}
                                    <a  href="{{ asset('images/' ~ image.name) }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                        <img class="col-12" src="{{ asset('images/' ~ image.name) }}" alt="snow">
                                    </a>
                                {% endfor %}
                            {% endif %}

                            {% for video in trick.videos %}
                                <iframe class="col-12 col-sm-4 mt-5" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endfor %}

                        </div>

                        <p class="card-text mt-5">{{ trick.description }}</p>
                        <ul class="row description-list justify-content-center mt-5">
                            <li><span class="text-dark">Ajouté le:</span> {{ trick.createdAt|date('d/m/Y') }}</li>
                            <li><span class="text-dark">Modifié le:</span> {% if trick.modifiedAt is defined%} {{ trick.modifiedAt|date('d/m/Y')}} {% endif %}</li>
                            <li><span class="text-dark">Category:</span>  {{ trick.groupe }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="card" >
                <form class="pt-2 pb-2 justify-content-center text-center">
                    <div class="form-group container">
                        <label for="comment"> Laisser un commentaire</label>
                        <textarea id="comment" class="form-control" rows="2" name="comment" cols="25"></textarea>
                    </div>
                </form>
            </div>
        {% endif %}

        <div class="card" >
            <ul class="list-group list-group-flush">
                {% for message in trick.messages %}
                    <li class="list-group-item">
                        <div class="media">
                            <img src="{{ asset('images/avatars/' ~ message.user.avatarPath) }}" class="mr-3 d-none d-sm-block col-sm-2" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">{{ message.user.username }}</h5>
                                <h5 class="mt-0">Posté le: {{ message.createdAt|date('d/m/Y') }} </h5>
                                {{ message.content }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
{#                TODO: boutton loadmore+ afficher nombre limité de commentaires#}
            </ul>
        </div>
    </div>

{% endblock %}

{% block title %}Trick 1{% endblock %}

