{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center mt-5">

        <div class="row row-cols-1 row-cols-md-12">

            <div class="col mb-4">
                <div class="card">
                    <div class="justify-content-end text-right mr-4">
                        <a class="pr-3" href="index.html.twig"><i class="fas fa-pencil-alt"></i></a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"><i class="far fa-trash-alt"></i></button>

                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Supprimer figure{#todo: nom figure#}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start text-left">
                                        ⚠ Voulez vous vraiment supprimer cette figure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body ">

                        <h3 class="card-title">Tricksname</h3>
                        <div class="row justify-content-start" >
                            <a  href="{{ asset('images/home.jpg') }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                <img class="col-12" src="{{ asset('images/home.jpg') }}" alt="snow">
                            </a>
                            <a  href="{{ asset('images/home.jpg') }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                <img class="col-12" src="{{ asset('images/home.jpg') }}" alt="snow">
                            </a>
                            <a  href="{{ asset('images/home.jpg') }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                <img class="col-12" src="{{ asset('images/home.jpg') }}" alt="snow">
                            </a>
                            <a  href="{{ asset('images/home.jpg') }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                <img class="col-12" src="{{ asset('images/home.jpg') }}" alt="snow">
                             </a>

                            <iframe class="col-12 col-sm-4 mt-5" src="https://www.youtube.com/embed/0uGETVnkujA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <iframe class="col-12 col-sm-4 mt-5"  src="https://www.youtube.com/embed/0uGETVnkujA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <iframe class="col-12 col-sm-4 mt-5"  src="https://www.youtube.com/embed/0uGETVnkujA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                        </div>

                        <p class="card-text mt-5">explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, ex</p>
                        <ul class="row description-list justify-content-center mt-5">
                            <li><span class="text-dark">Par:</span> Toto </li>
                            <li><span class="text-dark">Ajouté le:</span> 05/10/2025</li>
                            <li><span class="text-dark">Modifié le:</span> 05/10/2025</li>
                            <li><span class="text-dark">Category:</span> flip</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" >
            <form class="pt-2 pb-2 justify-content-center text-center">
                <div class="form-group container">
                    <label for="comment" >Laisser un commentaire</label>
                    <textarea id="comment" class="form-control" rows="2" name="comment" cols="25"></textarea>
                </div>
            </form>
        </div>

        <<div class="card" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="media">
                        <img src="{{ asset('images/face.jpg') }}" class="mr-3 col-2" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">George45</h5>
                            <h5 class="mt-0">Posté le: 05/15/18 </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="{{ asset('images/face.jpg') }}" class="mr-3 col-2" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">George45</h5>
                            <h5 class="mt-0">Posté le: 05/15/18 </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <img src="{{ asset('images/face.jpg') }}" class="mr-3 col-2" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">George45</h5>
                            <h5 class="mt-0">Posté le: 05/15/18 </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block title %}Trick 1{% endblock %}

