{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center mt-5">

        <div class="row row-cols-1 row-cols-md-12">

            <div class="col mb-4">
                <div class="card card-show">


                    {% if trick.findFirst is not null %}
                        <img src="{{ asset('images/tricks/' ~ trick.findFirst) }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ asset('images/trick1.jpg') }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body ">

                        <h3 class="card-title">{{ trick.name }}</h3>
                        <div class="row justify-content-start" >
                            {% if trick.images is not null %}
                                {% for image in trick.images %}
                                    <a  href="{{ asset('images/tricks/' ~ image.name) }}" target="_blank" class="col-12 col-sm-4 mt-5 ">
                                        <img class="col-12" src="{{ asset('images/tricks/' ~ image.name) }}" alt="snow">
                                    </a>
                                {% endfor %}
                            {% endif %}

                            {% for video in trick.videos %}
                                <iframe class="col-12 col-sm-4 mt-5" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endfor %}

                        </div>
                        <p class="card-text mt-5">{{ trick.description }}</p>
                        <ul class="row description-list justify-content-center mt-5">
                            <li><span class="text-dark">Ajouté le :</span> {{ trick.createdAt|date('d/m/Y') }}</li>
                            {% if trick.modifiedAt is not null%}
                            <li><span class="text-dark">Modifié le :</span>  {{ trick.modifiedAt|date('d/m/Y')}} </li>
                            {% endif %}
                            <li><span class="text-dark">Catégorie :</span>  {{ trick.groupe }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="card text-center container mb-5" >
                {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                <button type="submit" class="btn btn-primary text-center mb-4">Envoyer le commentaire</button>
                {{ form_end(commentForm) }}
            </div>
        {% endif %}

        <div class="card mb-5" >
            <ul class="list-group list-group-flush">
                {% set nbMessages = messages|length %}
                {% set i=1 %}
                {% set listId=1%}

                {% for message in messages %}
                    <li class="list-group-item list {{ "list" ~ listId }}">
                        <div class="media ">
                            {% if message.user.avatarPath is not null %}
                                <img src="{{ asset('images/avatars/' ~ message.user.avatarPath) }}" class="mr-3 d-none d-sm-block col-sm-2" alt="...">
                            {% else %}
                                <img src="{{ asset('images/avatars/face.jpg') }}" class="mr-3 d-none d-sm-block col-sm-2" alt="...">
                            {% endif %}


                            <div class="media-body">
                                <h5 class="mt-0">{{ message.user.username }}</h5>
                                <h5 class="mt-0">Posté le : {{ message.createdAt|date('d/m/Y') }} </h5>
                                {{ message.content }}
                            </div>
                        </div>
                    </li>
                    {% set i=i+1 %}
                    {% if i is divisible by(10) %}
                        {% set listId=listId+1 %}
                    {% endif %}
                {% endfor %}

            </ul>
            {% if nbMessages > 0 %}
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center">
                    <li class="page-item previous"><button class="page-link" > << </button></li>
                    {% set nbPage=1 %}
                    {% set n=1 %}
                    {%for message in messages %}
                        {% if n is divisible by(10) %}
                            {% set nbPage=nbPage+1 %}
                        {% endif %}
                        {% set n=n+1 %}
                    {% endfor %}
                    {% for page in 1..nbPage %}
                        <li class="page-item " ><button class="page-link page page{{ page }}" value="{{ page }}">{{ page }}</button></li>
                    {% endfor %}
                    <li class="page-item next"><button class="page-link"> >> </button></li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        {% set nbMessages = messages|length %}

        let nbMessages={{ nbMessages }};</script>
    <script src="{{ asset('js/pagination.js') }}"></script>

{% endblock %}

{% block title %}{{ trick.name }}{% endblock %}

