{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center mt-5">

        <div class="row row-cols-1 row-cols-md-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success container mt-3">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            {% endfor %}
            <div class="col mb-4">
                <div class="card">
                    <div class="justify-content-end text-right mr-4 mb-2 mt-2">

                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Supprimer l'image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start text-left">
                                        ⚠ Voulez vous vraiment supprimer cette image?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-danger"><a class="del_button" href="{{ path('admin_tricks_delete', {id: trick.id}) }}">Supprimer</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if trick.findFirst is not null %}
                        <img src="{{ asset('images/tricks/' ~ trick.findFirst.name) }}" class="card-img-top" alt="{{ trick.findFirst.alt }}">
                    {% elseif trick.findFirst is null and trick.images is not empty %}
                        <img src="{{ asset('images/tricks/' ~ trick.createFirst) }}" class="card-img-top" alt="Snowboard dans la neige">
                    {% else %}
                        <img src="{{ asset('images/trick1.jpg') }}" class="card-img-top" alt="Snowboard dans la neige">
                    {% endif %}
                    <div class="card-body ">

                        <h3 class="card-title">{{ trick.name }}</h3>
                        <div class="row justify-content-start" >
                            {% if trick.images is not null %}
                                {% for image in trick.images %}
                                    {% set imgForm= imageForm.createView %}
                                    <div class="col-sm-4 col-12 mt-3">
                                        <a  href="{{ asset('images/tricks/' ~ image.name) }}" target="_blank" class="  ">
                                            <img class="col-sm-12" src="{{ asset('images/tricks/' ~ image.name) }}" alt="{{ image.alt }}">
                                        </a></br>
                                        <div class="col-12 col-sm-12 justify-content-right text-right">
                                            <button class="pr-3 btn btn-primary" data-toggle="modal" data-target="{{ "#edit" ~ image.id }}"><i class="fas fa-pencil-alt"></i></button>

                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="{{"#delete" ~ image.id }}"><i class="far fa-trash-alt"></i></button>
                                        </div>
                                        <div class="modal fade" id="{{"delete" ~ image.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content ">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Suppression d'image</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body justify-content-start text-left">
                                                        ⚠ Voulez vous vraiment supprimer cette image?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                        <button type="button" class="btn btn-danger"><a class="del_button" href="{{ path('admin_image_delete', {id: image.id }) }}">Supprimer</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="{{ "edit" ~ image.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content ">

                                                    {{ include('form/__imageForm..html.twig') }}

                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                {% endfor %}
                            {% endif %}


                            {% for video in trick.videos %}
                                {% set vidForm= videoForm.createView %}
                                <div>
                                    <iframe class="mt-5 ml-3 ml-sm-5" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="  col-12 col-sm-12 justify-content-right text-right">
                                        <button class="pr-3  btn btn-primary" data-toggle="modal" data-target="{{ "#editVid" ~ video.id }}"><i class="fas fa-pencil-alt"></i></button>

                                        <div class="modal fade" id="{{ "editVid" ~ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content ">

                                                    <div class="modal-body justify-content-start text-left">

                                                        {% set videoId=video.id %}
                                                        {{ include('form/__videoForm..html.twig') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="{{ "#delete" ~ video.id }}"><i class="far fa-trash-alt"></i></button>

                                        <div class="modal fade" id="{{ "delete" ~ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content ">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Supprimer la video</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body justify-content-start text-left">
                                                        ⚠ Voulez vous vraiment supprimer cette Vidéo?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                        <button type="button" class="btn btn-danger"><a class="del_button" href="{{ path('admin_video_delete', {id: video.id }) }}">Supprimer</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <ul class="row description-list justify-content-center mt-5">
                            <li><span class="text-dark">Ajouté le:</span> {{ trick.createdAt|date('d/m/Y') }}</li>
                            <li><span class="text-dark">Modifié le:</span> {% if trick.modifiedAt is defined%} {{ trick.modifiedAt|date('d/m/Y')}} {% endif %}</li>
                            <li><span class="text-dark">Category:</span>  {{ trick.groupe }}</li>
                        </ul>



                        {{ include('form/__trickForm.html.twig') }}



                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block title %}{{ trick.name }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    todo: mettre script dans un block dans le form    #}
    <script src="{{ asset('js/loadedFilesDisplayed.js') }}"></script>
    <script src="{{ asset('js/add-collection-widget.js') }}" ></script>
    <script src="{{ asset('js/checkbox-first-widget.js') }}"></script>


{% endblock %}


