{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick{% endblock %}

{% block body %}
    <h2 class="text-center mt-5">Ajouter un trick</h2>
<div class="container justify-content-center mt-5">

    <div class="row row-cols-1 row-cols-md-12">

        <div class="col mb-4">
            <div class="card pt-4 pb-4">
                <div class="container">
                    {{ include('form/__trickForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
    <script src="{{ asset('js/loadedFilesDisplayed.js') }}"></script>
    <script src="{{ asset('js/add-collection-widget.js') }}" ></script>
    <script src="{{ asset('js/checkbox-first-widget.js') }}"></script>
{% endblock %}